.page > header, .page > footer {
	background: red;
	color: white;
    box-shadow: inset 0px 0px .1em .2em rgba(220,140,0,.45);
    box-shadow: 0px 0px .1em .2em rgba(120,70,0,.45);
}

.page > header {
	border-bottom: 15px solid brown;
}

.page > footer {

	border-top: 6px solid brown;
}

.main > aside > div {
	border-right: 5px solid orange;
}

.layout .panel {
  border: 1px solid black;
}

.page {
    background: white;
    border: 5px ridge brown;
    border-width: 0 3px;
    outline: 2px ridge rgba(220,140,0,.45);
    box-shadow: 0px 0px 60px 9px rgba(255,0,0,.45);
}

html {
  background: rgba(255,120,0,.45);
}
